# NiFi Runtime Data - DO NOT COMMIT
nifi_flowfile_repository/
nifi_content_repository/
nifi_provenance_repository/
nifi_database_repository/
nifi_state/
nifi_logs/
nifi_nar_extensions/
nifi_python_extensions/